# Directory
.DS_Store

# File formats
*xlsx
*log
*swp
*.parquet
*.html

# environment
*env
.venv
venv

# cache
__pycache__
.ipynb_checkpoints
.vscode

# models
*pkl

# mflow
.idea
**/artifacts/
**/models/
.bin
*.db
mlruns/
