[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
mlflow = "*"
xgboost = "*"
hyperopt = "*"
prefect = "==2.0b5"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.9"
