[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
flask = "*"
gunicorn = "*"
numpy = "*"
sklearn = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.10"
