[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
flask = "*"
gunicorn = "*"
numpy = "*"
sklearn = "*"
mlflow = "*"
boto3 = "*"

[dev-packages]
requests = "*"
pytest = "*"
deepdiff = "*"
pylint = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
